//最上位htmlの設定
html {
    font-size: 10px;
    // scroll-behavior: smooth;
    scroll-padding-top: 64px;
}

//サイト全体の基本設定
body {
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: $font-m;
    text-align: justify;
    color: $black;
}
// サイトの本体部分
main {
    position: relative;
    width: 1160px;
    max-width: 100%;
    margin: 0 auto;
}
//画像は常に親要素の100%
img {
    max-width: 100%;
}
//リンク設定
a {
    color: $black;
    transition:
        color 0.3s,
        opacity 0.3s,
        background-color 0.3s,
        transform 0.3s;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
    }   
}

// フッターが画面下に張り付くように記述
#app {
    //一番上：ヘッダー
    //2番目：メインコンテンツ
    //3番目：フッター
    display: grid;
    grid-template-rows: min-content 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}

//サイト各ページの本体部分
.inner {
    width: 100%;
    margin: 0 auto;
    padding-right: $wrap_padding_x;
    padding-left: $wrap_padding_x;
    @media screen and (min-width: $bp) {
        width: $pc-width;
    }
}

//レスポンシブ用
.pc-only {
    display: none!important;
    @media screen and (min-width: $bp) {
        display: block!important;
    }
}
.sp-only {
    display: block!important;
    @media screen and (min-width: $bp) {
        display: none!important;
    }
}
